<!DOCTYPE html>
<html>
<head>
    <title>Giriş Yap | Discord Klonu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body class="login-body">
    <div class="login-container">
        <h2 class="login-title">Tekrar Hoş Geldin!</h2>
        <p class="login-subtitle">Devam etmek için hesabınla giriş yap.</p>
        
        <form method="POST">
            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}
            
            {% if success %}
            <p class="success-message">{{ success }}</p>
            {% endif %}

            <label for="username" class="login-label">KULLANICI ADI</label>
            <input type="text" id="username" name="username" class="login-input" placeholder="Kayıtlı Kral Adınız" required maxlength="15">
            
            <label for="password" class="login-label">ŞİFRE</label>
            <div class="password-input-container">
                <input type="password" id="password_login" name="password" class="login-input" placeholder="Şifreniz" required minlength="6">
                <i class="fa-solid fa-eye password-toggle-icon" onclick="togglePasswordVisibility('password_login', this)"></i>
            </div>
            
            <button type="submit" class="login-button">Giriş Yap</button>
        </form>
        
        <p class="login-footer">
            Henüz hesabın yok mu? <a href="{{ url_for('register') }}" class="register-link">Şimdi Kayıt Ol!</a>
        </p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>