<!DOCTYPE html>
<html>
<head>
    <title>Kayıt Ol | Discord Klonu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body class="login-body">
    <div class="login-container">
        <h2 class="login-title">Hesap Oluştur</h2>
        <p class="login-subtitle">Kendine bir kral adı ve şifre seç!</p>
        
        <form method="POST">
            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}

            <label for="username" class="login-label">KULLANICI ADI</label>
            <input type="text" id="username" name="username" class="login-input" placeholder="Yeni Kral Adınız" required maxlength="15">
            
            <label for="password" class="login-label">ŞİFRE</label>
            <div class="password-input-container">
                <input type="password" id="password_register" name="password" class="login-input" placeholder="En az 6 karakter" required minlength="6">
                <i class="fa-solid fa-eye password-toggle-icon" onclick="togglePasswordVisibility('password_register', this)"></i>
            </div>
            
            <button type="submit" class="login-button">Kayıt Ol</button>
        </form>
        
        <p class="login-footer">
            Zaten bir hesabın var mı? <a href="{{ url_for('login') }}" class="register-link">Giriş Yap</a>
        </p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>